.contents::-webkit-scrollbar {
    width: 10px;
  }

  


  
  /* Track */
  .contents::-webkit-scrollbar-track {
    background: #00000000; 
  }
   
  /* Handle */
  .contents::-webkit-scrollbar-thumb {
    background-color:rgba(0, 0, 0, 0.6);
  
  }
  
  /* Handle on hover */
  .contents::-webkit-scrollbar-thumb:hover {
    background: rgb(53, 53, 53);
  }

  html{
    overflow: hidden;
  }



  body{
    
    overflow: hidden;
    
  }

  .contents{
    margin-left:50px;
    overflow: scroll;
    overflow-x: hidden !important;
    height: 100vh;
    width: 100%;
  }